*{
	box-sizing: border-box;
	font-family: Helvetica Neue, Segoe UI;
}
html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: black;
	font-size: 18px;
}
ul{
	padding-left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-grid{
	height: 100%;
	width: 100%;
}
.posts, .post{
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 4px 0;
}
.post{
	padding: 4px;
}
.posts__post{
	float: left;
	display: block;
	position: relative;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #132533;
	border: 1px solid #132533;
}
.posts__post:hover .post-hero{
	-webkit-filter: brightness(1);
}
.post-hero{
	transition: ease-in .3s;
	-webkit-filter: brightness(0.9);
	-webkit-transform: translate3d(0,0,0);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.ones{
	width: calc(50% - 8px);
	margin: 0 4px;
}
.twos{
	width: calc(25% - 4px);
	margin-right: 4px;
	height: calc(50% - 2px);
}
.twos:nth-child(4), .twos:nth-child(5){
	margin-top: 4px;
}
.post-link{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
}
.post__info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 4px 15px;
	float: left;
	background: rgba(15,15,15,0.9);
	text-decoration: none;
	font-size: 18px;
	max-height: 100%;
	overflow: auto;
}
.post-meta{
	font-size: .8em;
	color: #BDB297;
}
.post__info h2, .post__info h1{
	margin: 5px 0;
	font-weight: normal;
	color: white;
}
.site-header, .site-footer{
	padding: 40px;
	width: 100%;
	background-color: #ddd;
}
.site-header{
	background-image: url(https://cdn3.artstation.com/p/assets/images/images/000/503/987/large/gilles-ketting-totalwararena-gillesketting-ext-05.jpg?1424960768);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 80px;
}
.site-footer{
	background: #282828;
	color: white;
}
.block-grid::after, .block::after{
	clear: both;
	display: block;
	content: "";
}
.site-title{
	font-size: 2em;
	text-decoration: none;
	color: #fff;
	text-align: center;
	display: block;
	text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.post__back{
	border: 2px solid #BDB297;
    padding: 4px;
    color: #BDB297;
    text-decoration: none;
    position: absolute;
    top: 4px;
    font-size: 20px;
    left: 4px;
}
.hero{
	overflow: hidden
}
.hero-data{
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;	
}
.content p, .content h1, .content h2, .content h3{
	margin-top: 0;
}


.post__hero, .post__content{
	width: calc(50% - 4px);
	margin-right: 4px;
	background-size: cover;
	position: relative;
	float: left;
	height: 100%;
	display: block;
}
.post__content{
    background-color: white;
	padding: 8px;
	line-height: 1.75em;
	margin-right: 0;
	margin-left: 4px;
	overflow: auto
}
.post__content p, .post__content h1, .post__content h2, .post__content h3{
	margin-top: 0;
}

@media only screen and (max-device-width : 667px)
{ 
	.posts{
		padding: 0;
	}
	.ones{
		width: calc(100% - 8px);
		height: calc(33.3333% - 8px);
		margin: 4px;
	}
	.twos{
		width: calc(50% - 6px);
		height: calc(33.3333% - 4px);
		margin: 4px;
		margin-top: 0;
	}
	.twos.twos:nth-child(even){
		margin-right: 2px;
	}
	.twos.twos:nth-child(odd){
		margin-left: 2px;
	}
	.twos:nth-child(4), .twos:nth-child(5){
		margin-top: 0;
	}
	.post__info{
		font-size: 14px;
	}
	.post__hero{
		width: 100%;
		height: auto;
		margin: 0;
		margin-bottom: 4px;
		min-height: 25%;
	}
	.post__content{
		width: 100%;
		height: calc(75% - 4px);
		margin: 0;
	}
}